@charset "UTF-8";
@media (max-width: 1200px){
    .top-menu > li > a, .top-menu > li > span {
        padding: 15px 15px 10px 15px;
        font-size: 14px;
    }
    .bottom-head .container {
        height: 47px;
    }
    .bottom-head-fixed .top-menu > li.fixed-logo a {
        margin-right: 15px;
    }
    .bottom-head-fixed .top-menu > li:nth-of-type(2) > a, .bottom-head-fixed .top-menu > li:nth-of-type(2) > span {
        padding-left: 15px;
    }
    .top-menu > li.fixed-logo a img {
        width: 130px;
    }
    .footer form p {
        font-size: 18px;
        max-width: 280px;
        margin: 4px 20px 0 0;
    }
    .main-news-one .img {
        width: 155px;
        height: 155px;
    }
    .main-news-one .text {
        padding: 0 0 0 170px;
    }
    .main-news-one h3 {
        font-size: 24px;
        margin: 5px 0;
    }
    .main-news {
        margin: 20px 0 0 0;
    }
    .main-news .img {
        width: 65px;
        height: 65px;
    }
    .main-news .text {
        padding-left: 80px;
    }
    .main-news p {
        margin: 3px 0 0 0;
        font-size: 14px;
    }
    .main-news-one {
        margin: 0 0 10px 0;
    }
    .ico-item {
        padding: 22px 0;
    }
    .main-info-main h5 {
        font-size: 22px;
    }
    .main-info-main p {
        font-size: 32px;
    }
    .main-info-main span {
        font-size: 16px;
    }
    .main-info-main span i {
        font-size: 20px;
    }
    .main-info-main img {
        width: 100px;
    }
    .main-info-main {
        padding: 30px 0 30px 120px;
    }
    .table-link img {
        margin: -3px 10px 0 0;
    }
    .main-ico {
        padding-bottom: 6px;
    }
    .news-one-main h3, .news-one h3 {
        font-size: 20px;
    }
    .news-one-main p, .news-one p, .ico-table, .ico-table .item td:last-of-type span {
        font-size: 14px;
    }
    .news-one-main .text {
        padding: 0 0 0 175px;
    }
    .news-one-main .img {
        width: 160px;
        height: 160px;
    }
    .news-one .img {
        width: 100px;
        height: 100px;
    }
    .news-one .text {
        padding: 0 0 0 115px;
    }
    .news-block > h1 {
        font-size: 26px;
    }
    .news-inner h1, .news-inner h2, .news-inner h3, .news-inner h4, .news-inner h5, .news-inner h6 {
        font-size: 22px;
    }
    .news-full > ul, .news-full > time {
        margin: 30px 0 10px 0;
    }
    .ico-table .item td:nth-of-type(2) img {
        width: 24px;
        margin: 0 5px 0 0;
    }
    .ico-table .item td:last-of-type, .ico-table .countdown-amount {
        font-size: 16px;
    }
    .ico-table .countdown-period {
        font-size: 10px;
    }
    .ico-table th {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .ico-rate > div, .ico-progress > p {
        font-size: 14px;
    }
    .ico-rate > div strong {
        font-size: 32px;
    }
    .ico-progress {
        margin: 20px 0 30px 0;
    }
    .ico-progress > div {
        margin: 40px 0 0 0;
    }
    .ico-info-block > p:first-of-type {
        font-size: 16px;
    }
    .ico-info-block:before {
        height: 50px;
    }
    .mining > div {
        padding: 0 15px 30px 15px;
    }
    .mine-top .img {
        width: 52px;
    }
    .mine-top .text {
        padding: 0 0 0 65px;
    }
    .mine-top .text h5, .mine-main-info {
        font-size: 14px;
    }
    .mine-main-info p, .coin-course i {
        font-size: 20px;
    }
    .mine-info p {
        font-size: 13px;
    }
    .mine-info .row span, .coin-course li > div + div h5 {
        font-size: 16px;
    }
    .coin-course h5 {
        font-size: 18px;
    }
}
@media (max-width: 992px){
    .logo {
        width: 160px;
        margin: 0 30px 0 0;
        padding: 12px 0;
    }
    .top-search {
        margin: 16px 0 0 0;
        width: 300px;
        transition: 0.3s;
    }
    .top-lang {
        margin: 16px 0 0 10px;
        transition: 0.3s;
        font-size: 13px;
    }
    .top-lang div {
        padding: 7px 8px 0 8px;
    }
    .top-menu-btn {
        display: block;
        float: right;
        margin: 16px 0 0 10px;
        width: 32px;
        height: 32px !important;
        font-size: 24px;
        color: #00bcff;
        transition: 0.3s;
        padding: 0 !important;
        line-height: 1.3 !important;
        border: none;
    }
    .top-menu-btn i {
        vertical-align: baseline;
    }
    .top-head-fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }
    .top-head-fixed .logo {
        width: 150px;
        padding: 7px 0;
    }
    .top-head-fixed .top-search {
        margin: 9px 0 0 0;
    }
    .top-head-fixed .top-lang, .top-head-fixed .top-menu-btn {
        margin: 9px 0 0 10px;
    }
    .bottom-head {
        position: fixed;
        left: auto;
        right: -260px;
        width: 260px;
        bottom: 0;
        top: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px 15px;
        text-align: right;
        z-index: 1005;
        transition: 0.3s;
    }
    .bottom-head.active {
        right: 0;
    }
    .fixed-logo {
        display: none;
    }
    .top-menu > li {
        width: 100%;
    }
    .top-menu > li > a, .top-menu > li > span {
        padding: 8px 0 !important;
        width: 100%;
        border: none;
    }
    .bottom-head .container {
        height: auto;
        width: 100%;
    }
    .top-menu > li:before {
        display: none;
    }
    .top-submenu-block {
        position: static;
        background: transparent;
        padding: 5px 15px 5px 0;
        border-right: 3px solid #00bcff;
        box-shadow: none;
        border-radius: 0;
    }
    .top-submenu a {
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        padding: 5px 0;
    }
    .top-submenu a:before {
        display: none;
    }
    .top-head {
        width: 100%;
        transition: 0.3s;
    }
    .top-head.active {
        margin: 0 0 0 -260px;
    }
    button, .btn, a.btn {
        height: 34px;
        line-height: 32px;
        font-size: 12px;
    }
    .btn-lg {
        height: 40px;
        line-height: 38px;
        font-size: 14px;
    }
    input {
        height: 34px;
    }
    .input-lg {
        height: 40px;
    }
    .select-box select {
        height: 34px;
    }
    .select-box i {
        line-height: 34px;
        font-size: 18px;
    }
    .footer form {
        margin: -20px 0 -5px 0;
    }
    .footer form p {
        font-size: 16px;
        max-width: 320px;
        margin: 0;
        float: none;
    }
    .footer form input {
        float: none;
    }
    .footer form button {
        float: right;
    }
    .bottom-foot {
        margin: 20px 0 0 0;
    }
    .footer {
        margin: 40px 0 0 0;
    }
    .main-page-block > a, .main-page-block > a:hover, .main-page-block > a:active, .main-page-block > a:focus {
        bottom: -34px;
    }
    .main-news-list {
        height: auto !important;
    }
    .main-page-table table th:first-of-type, .main-page-table table td:first-of-type, .table-link img, .main-page-table table th:last-of-type, .main-page-table table td:last-of-type {
        display: none;
    }
    .main-page-table table tr.main-page-table-info-row td {
        display: table-cell;
    }
    .main-page-table table th:nth-of-type(7), .main-page-table table td:nth-of-type(7) {
        padding-right: 0;
    }
    .main-page-table h2 {
        margin: 22px 25px 25px 0;
    }
    .main-table-info .left, .main-table-info .right {
        width: 50%;
    }
    .main-info-main h5 {
        font-size: 20px;
    }
    .main-info-main p {
        font-size: 30px;
    }
    .main-burse h5 {
        font-size: 18px;
    }
    .main-burse li img {
        width: 18px;
        margin: -2px 10px 0 0;
    }
    .news .main-ico {
        margin-bottom: 30px;
    }
    .pagination>li>a, .pagination>li>span {
        height: 34px;
        min-width: 34px;
        line-height: 32px;
        font-size: 14px;
    }
    .pagination>li i {
        line-height: 32px;
        font-size: 18px;
    }
    .other-news article {
        float: left;
        width: 50%;
    }
    .other-news article:nth-of-type(odd) {
        padding: 0 15px 0 0;
        clear: left;
    }
    .other-news article:nth-of-type(even) {
        padding: 0 0 0 15px;
    }
    .filter-block {
        position: absolute;
        right: -320px;
        top: 0;
        width: 320px;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }
    .filter-wrapper {
        position: relative;
        right: 0;
        transition: 0.3s;
    }
    .filter-wrapper.active {
        right: 320px;
    }
    .filter-wrapper.active .filter-block {
        visibility: visible;
        opacity: 1;
    }
    .buy-sell .filter-block h2 {
        font-size: 18px;
    }
    .buy-filter-fix {
        height: 57px;
    }
    .filter-wrapper.active .btn-filter-show {
        left: 64px;
    }
    .buy-popular li:nth-of-type(5) ~ li {
        display: none;
    }
    .buy-popular li:nth-of-type(5) button {
        border: none;
    }
}
@media (max-width: 768px){
    .top-search-btn {
        display: block;
        float: right;
        width: 32px;
        height: 32px !important;
        margin: 16px 0 0 0;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.1) !important;
        line-height: 1.3 !important;
        padding: 0 !important;
    }
    .top-search-btn img {
        width: 18px;
        margin: -4px 0 0 0;
    }
    .top-search {
        display: none;
        transition: unset;
        margin: 0;
    }
    .top-head-fixed .top-search-btn {
        margin: 9px 0 0 0;
    }
    .top-head-fixed .top-search {
        margin: 0;
    }
    .top-search input[type="submit"] {
        right: 30px;
        top: 14px;
    }
    .top-search-wrapper {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 1007;
        width: 400px;
        height: 60px;
        border-radius: 4px;
        margin: -30px 0 0 -200px;
        padding: 14px 30px 0 30px;
        background: #3b515c;
    }
    .top-search-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1006;
        background: rgba(28, 35, 39, 0.9);
    }
    .top-info-block, .ico-table th:first-of-type, .ico-table .item td:first-of-type, .ico-table .item td:nth-of-type(2) img {
        display: none;
    }
    .footer {
        padding: 30px 0 20px 0;
        margin: 30px 0 0 0;
    }
    .footer hr {
        margin: 30px 0;
    }
    .footer form {
        margin: 25px 0 0 0;
        width: 100%;
    }
    .footer form p {
        font-size: 14px;
        max-width: none;
        width: 100%;
    }
    .footer form input, .footer form button {
        margin-top: 10px;
        float: left;
    }
    body {
        font-size: 14px;
    }
    .foot-feedback {
        margin: 20px 0 0 0;
        float: left;
    }
    h2 {
        font-size: 22px;
        margin: 20px 0 15px 0;
    }
    .main-news-one h3 {
        font-size: 18px;
    }
    .main-page-table h2 {
        margin: 1px 25px 22px 0;
    }
    .main-page-table .select-box, .news .main-page-block {
        margin: 0;
    }
    .main-page-block, .main-page-block.main-page-table-wrap {
        margin-bottom: 50px;
    }
    .main-news-list, .news .main-ico {
        margin: 0 0 30px 0;
    }
    .main-news-list ul {
        margin: 15px 0 0 0;
    }
    .main-news-list ul li {
        margin: 0 0 15px 0;
    }
    .main-news-list h5 {
        font-size: 24px;
        padding: 100px 30px 20px 30px;
        margin: -20px -20px 15px -20px;
    }
    .main-page-table table th:nth-of-type(3), .main-page-table table td:nth-of-type(3) {
        display: none;
    }
    .main-table-info .left, .main-table-info .right {
        width:100%;
    }
    .main-info-main h5, .news-one-main h3, .news-one h3 {
        font-size: 18px;
    }
    .main-info-main p {
        font-size: 26px;
    }
    .main-info-main img {
        width: 80px;
    }
    .main-info-main {
        padding: 20px 0 20px 95px;
    }
    .main-burse {
        padding: 15px 0 10px 0;
        border-bottom: 1px solid #c8d9e1;
    }
    .main-table-info .right > div {
        height: 300px !important;
    }
    .main-table-info .right iframe {
        height: 341px !important;
    }
    .news-one-main .text {
        padding: 0 0 0 155px;
    }
    .news-one-main .img {
        width: 140px;
        height: 140px;
    }
    .news-one {
        margin: 30px 0 0 0;
    }
    .breadcrumb {
        margin: 20px 0 0 0;
    }
    .news-full > ul, .news-full > time {
        margin: 20px 0 10px 0;
    }
    .news-block > h1 {
        font-size: 24px;
    }
    .news-inner h1, .news-inner h2, .news-inner h3, .news-inner h4, .news-inner h5, .news-inner h6 {
        font-size: 20px;
    }
    .news-full-container .other-news {
        margin: 0;
    }
    .ico-container .nav-tabs>li>a, .ico-container .nav-tabs>li>a:focus, .ico-table .item td:last-of-type, .ico-table .countdown-amount {
        font-size: 14px;
    }
    .ico-table .item td:nth-of-type(5) {
        font-size: 12px;
    }
    .ico-table .countdown-section {
        padding: 0 3px;
    }
    .ico-table td, .ico-table th {
        padding-left: 10px;
    }
    .ico-table tr td:last-of-type, .ico-table th:last-of-type {
        padding-right: 10px;
    }
    .other-news article {
        width: 100%;
        padding: 0 !important;
    }
    .ico-table .item td:nth-of-type(2) {
        border-radius: 4px 0 0 0;
    }
    .ico-container + .col-md-4 .other-news, .ico-full-wrapper .other-news {
        margin: 0;
    }
    .ico-full {
        margin: 0 0 30px 0;
    }
    .ico-info-main .text {
        padding: 0 0 0 95px;
    }
    .ico-info-main .text strong, .ico-info-main .text p {
        font-size: 24px;
    }
    .ico-info-main .img {
        width: 80px;
    }
    .ico-rate > div {
        width: 25%;
        padding: 0 5px 0 10px;
    }
    .ico-rate > div:first-of-type {
        width: 100%;
        padding-bottom: 10px;
    }
    .ico-video {
        height: 280px;
    }
    .ico-info-block {
        margin: 30px 0 0 0;
        padding: 2px 0 0 10px;
    }
    .ico-info-block > p:first-of-type {
        font-size: 14px;
    }
    .ico-info-block:before {
        height: 43px;
    }
    .ico-info-block .countdown-section {
        padding: 0 3px;
    }
    .ico-info-block .countdown-amount {
        font-size: 16px;
    }
    .ico-info-block .countdown-period {
        font-size: 10px;
    }
    .ico-full hr {
        margin: 30px 0 0 0;
    }
    .ico-full .ico-btn-buy {
        margin: 30px 0 0 0;
        border: 2px solid #00bcff;
        height: 46px;
        line-height: 42px;
        padding: 0 20px;
        font-size: 16px;
    }
    .ico-progress > div span {
        font-size: 16px;
    }
    .ico-progress > div span:nth-of-type(2) {
        font-size: 28px;
        top: -35px;
    }
    .buy-table, .buy-table tbody, .buy-table tr, .buy-table td {
        display: block;
        position: relative;
    }
    .buy-table thead {
        display: none;
    }
    .buy-table tr {
        margin: 10px 0 0 0;
        border-radius: 4px;
        padding: 10px 0;
        background: #fff;
    }
    .buy-table tr td, .buy-table tbody tr:first-of-type td, .buy-table tbody tr td:first-of-type, .buy-table tbody tr:last-of-type td {
        padding: 5px 10px 5px 50%;
        text-align: left;
    }
    .buy-table tr td:before {
        position: absolute;
        left: 0;
        width: 50%;
        padding: 0 10px;
        text-align: right;
        color: #9da6ab;
        display: inline-block;
    }
    .buy-sell .nav-tabs>li>a, .buy-sell .nav-tabs>li>a:focus {
        font-size: 12px;
        height: 42px;
        line-height: 42px;
        padding: 0 10px;
    }
    .buy-sell .nav-tabs>li:first-of-type>a {
        border-radius: 4px 0 0 4px;
    }
    .buy-sell .nav-tabs>li:last-of-type>a {
        border-radius: 0 4px 4px 0;
    }
    .mine-wrap .nav-tabs>li>a, .mine-wrap .nav-tabs>li>a:focus {
        font-size: 14px;
        height: 42px;
        line-height: 42px;
        border-radius: 4px !important;
        margin: 0 10px 10px 0;
        padding: 0 10px;
    }
    .mining {
        display: block;
    }
    .mining > div, .mining > div + div {
        display: block;
        width: 100%;
        border-radius: 4px 4px 0 0;
    }
    .mining > div + div {
        border-radius: 0 0 4px 4px;
    }
    .mine-left > div {
        float: left;
        width: 50%;
        padding: 0 10px;
    }
    .mine-left:after {
        display: table;
        content: '';
        clear: both;
    }
    .mine-left {
        color: #fff;
        font-weight: 300;
        margin: 0 -10px;
    }
    .mine-left input {
        font-size: 16px;
    }
    .mine-wrap .main-page-block {
        margin-bottom: 0;
    }
}
@media (max-width: 480px){
    .logo {
        width: 132px;
        margin: 0 15px 0 0;
        padding: 10px 0;
    }
    .top-head-fixed .logo {
        width: 132px;
        padding: 7px 0;
    }
    .top-search-btn, .top-lang, .top-menu-btn {
        margin-top: 10px;
    }
    .top-lang, .top-menu-btn {
        margin-left: 5px;
    }
    .top-head-fixed .top-lang, .top-head-fixed .top-menu-btn {
        margin: 7px 0 0 5px;
    }
    .top-head-fixed .top-search-btn {
        margin: 7px 0 0 0;
    }
    .top-lang, .ico-item .text p {
        font-size: 12px;
    }
    .bottom-head {
        right: -240px;
        width: 240px;
        padding: 10px 5px;
    }
    .top-head.active {
        margin: 0 0 0 -240px;
    }
    .top-search-wrapper {
        width: 300px;
        margin: -30px 0 0 -150px;
        padding: 14px 15px 0 15px;
    }
    .top-search input[type="submit"] {
        right: 15px;
    }
    .foot-soc {
        float: left;
        margin: 20px 0 0 -15px;
    }
    .bottom-foot p, .ico-full .col-xs-4, .mine-left > div, .ico-info-main {
        width: 100%;
    }
    h2, .mine-main-info i {
        font-size: 20px;
    }
    .main-news-one .img, .news-one-main .img {
        width: 150px;
        height: 150px;
        margin: 0 auto 10px auto;
        float: none;
    }
    .main-page-block {
        padding: 15px;
    }
    .main-news-one p {
        margin: 5px 0 15px 0;
        display: inline-block;
    }
    .main-news-one .text, .news-one-main .text {
        padding: 0;
        clear: both;
    }
    .main-ico .nav-tabs {
        margin: -15px -15px 0 -15px;
    }
    .nav-tabs>li>a, .nav-tabs>li>a:focus {
        height: 42px;
        line-height: 38px;
        padding: 0 5px;
        font-size: 12px;
    }
    .ico-item .text h5 {
        margin: -2px 0 10px 0;
    }
    .ico-item {
        padding: 15px 0;
    }
    .main-ico {
        padding-bottom: 5px;
    }
    .main-news-list h5 {
        font-size: 20px;
        padding: 70px 15px 15px 15px;
        margin: -15px -15px 15px -15px;
    }
    .main-page-table table th:nth-of-type(6), .main-page-table table td:nth-of-type(6), .ico-container .nav-tabs>li>a i, .ico-table thead, .ico-full hr {
        display: none;
    }
    .main-page-table h2 {
        margin: 3px 15px 22px 0;
    }
    .main-page-table .select-box {
        margin: 0 0 15px 0;
    }
    .main-info-main span, .ico-table .item td:nth-of-type(5), .ico-progress > div span, .mine-left input {
        font-size: 14px;
    }
    .main-info-main p {
        font-size: 24px;
    }
    .main-table-info {
        margin: -12px -15px;
    }
    .main-table-info .left, .news-block {
        padding: 0 15px;
    }
    .main-table-info .right iframe {
        margin: -40px 0 0 -5px;
    }
    .main-table-info .right > div:before {
        width: 9px;
    }
    .main-table-info .right > div:after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        background: #fff;
        width: 9px;
        right: 0;
    }
    .main-info-main h5, .news-one-main h3, .news-one h3 {
        font-size: 16px;
    }
    .news-one-main time, .news-one-main ul {
        float: left;
        margin: 10px 0 0 0;
    }
    .news-one .img, .other-news a .img {
        width: 80px;
        height: 80px;
    }
    .news-one .img {
        margin: 0 15px 5px 0;
    }
    .news-one .text {
        padding: 0;
    }
    .other-news {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .other-news a {
        margin: 20px 0 0 0;
    }
    .other-news a .text {
        padding: 0 0 0 95px;
    }
    .news-block .img {
        margin: 0 -15px;
    }
    .news-inner h1, .news-inner h2, .news-inner h3, .news-inner h4, .news-inner h5, .news-inner h6 {
        font-size: 17px;
    }
    .news-block > h1 {
        font-size: 18px;
        margin: 20px 0 35px 0;
    }
    .ico-container .nav-tabs>li>a, .ico-container .nav-tabs>li>a:focus {
        font-size: 12px;
        height: 42px;
        line-height: 42px;
        padding: 0 10px;
    }
    .top-lang div {
        padding: 8px 8px 0 8px;
    }
    .ico-table, .ico-table thead, .ico-table tbody, .ico-table tr, .ico-table th, .ico-table td {
        display: block;
        text-align: left;
    }
    .ico-table .item td {
        padding: 5px 10px 5px 50%;
        position: relative;
    }
    .ico-table .item:hover td {
        background: #fff;
    }
    .ico-table .item {
        padding: 10px 0;
        background: #fff;
        border-radius: 4px 4px 0 0;
    }
    .ico-table .item td:before {
        position: absolute;
        left: 0;
        width: 50%;
        padding: 0 10px;
        text-align: right;
        color: #9da6ab;
        display: inline-block;
    }
    .ico-container .nav-tabs>li:last-of-type a {
        border-radius: 0 4px 4px 0;
    }
    .ico-container .nav-tabs>li:first-of-type a {
        border-radius: 4px 0 0 4px;
    }
    .ico-info-main + .pull-right {
        float: left !important;
        margin: 15px 0 0 0;
    }
    .ico-rate > div {
        width: 50%;
        margin: 15px 0 0 0;
    }
    .ico-rate > div:first-of-type {
        margin: 0 0 -10px 0;
    }
    .ico-progress {
        margin: 30px 0 45px 0;
    }
    .ico-progress > div span:nth-of-type(2) {
        font-size: 24px;
        top: 100%;
        margin-top: 5px;
    }
    .ico-video {
        height: 220px;
    }
    .ico-full .ico-btn-buy {
        height: 42px;
        line-height: 38px;
        font-size: 14px;
    }
    .buy-filter-fix {
        height: 55px;
    }
    .mine-main-info p {
        font-size: 18px;
    }
    .mine-info .col-xs-4 {
        width: 100%;
        text-align: center;
        margin: 10px 0 0 0;
    }
    .mine-info h5 span {
        margin: 0;
    }
    .mine-wrap .disclaimer {
        padding: 15px 20px;
    }
}
@media (min-width: 769px){
    .top-search {
        display: block !important;
    }
}
/*1035*/