@charset "UTF-8";
* {
    vertical-align: top;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: transparent;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: inherit;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus, *:hover, *:active, *:visited, a:focus, a:hover, a:active, a:visited {
    outline: none;
    text-decoration: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}
img, object {
    max-width: 100%;
}
li {
    list-style-type: none;
}
a{
    display: inline;
    cursor: pointer;
    color: #00a9e5;
    border-bottom: 1px dotted transparent;
}
a:hover {
    text-decoration: none;
    border-bottom: 1px dotted;
}
.left{
    float: left;
}
.right{
    float: right;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.btn, a, button, .main-news time, .main-news i, .main-news p {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
button, .btn, a.btn {
    height: 40px;
    line-height: 38px;
    white-space: nowrap;
    border-radius: 4px;
    display: inline-block;
    padding: 0 15px;
    font-size: 13px;
    border: 1px solid #c8d5dc;
    text-align: center;
}
button, .btn, button:hover, .btn:hover, button:active, .btn:active, button:focus, .btn:focus {
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    text-decoration: none;
}
section, .main-news-one, .news-one-main, .news-one, .other-news a, .breadcrumb, .news-full, .main-page-block .main-news, .ico-item, .bottom-foot, .main-page-table, .main-page-block.main-page-table-wrap, .top-lang ul a, .top-menu, .news-block, .ico-video {
    display: inline-block;
    width: 100%;
}
html {
    overflow-x: hidden;
}
body {
    background: #e0ecf2;
    font-family: 'Roboto', 'Open Sans', sans-serif;/*300,400,500,700*/
    font-size: 16px;
    line-height: 1.3;
    color: #3b515c;
    overflow: hidden;
    overflow-y: auto;
}
.top-head {
    background: #3b515c;
    position: relative;
    z-index: 1001;
}
.logo {
    width: 220px;
    float: left;
    padding: 20px 0;
    margin: 0 50px 0 0;
    border: none !important;
}
.top-lang {
    float: right;
    margin: 30px 0 0 10px;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 5px 0;
    font-size: 14px;
}
.top-lang div {
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.1);
    height: 32px;
    color: #fff;
    padding: 7px 8px 0 8px;
    cursor: pointer;
    transition: 0.3s;
}
.top-lang:hover div {
    color: #00a9e5;
}
.top-lang div i {
    margin: 0 0 0 8px;
    vertical-align: baseline;
}
.top-lang ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    background: #00bcff;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
    padding: 5px 0;
    display: none;
}
.top-lang ul a {
    color: #fff;
    padding: 2px 0;
    border: none;
}
.top-lang ul a:hover {
    color: #364953;
}
.top-search {
    float: right;
    margin: 30px 0 0 0;
    width: 340px;
    position: relative;
}
input {
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.1);
    height: 40px;
    padding: 0 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}
.top-search input {
    padding: 0 35px 0 10px;
    color: #fff;
}
.top-search ::-webkit-input-placeholder, .footer ::-webkit-input-placeholder {color:#fff;}
.top-search ::-moz-placeholder, .footer ::-moz-placeholder                   {color:#fff;}/* Firefox 19+ */
.top-search :-moz-placeholder, .footer :-moz-placeholder                     {color:#fff;}/* Firefox 18- */
.top-search :-ms-input-placeholder, .footer :-ms-input-placeholder           {color:#fff;}
.top-search input[type="submit"] {
    position: absolute;
    width: 32px;
    height: 32px;
    padding: 0;
    right: 0;
    top: 0;
    border: none;
    background: transparent url("../img/top-search-eye.png") no-repeat center;
    background-size: 18px;
    transition: 0.1s;
}
.top-search input[type="submit"]:hover {
    background-size: 22px !important;
}
.bottom-head {
    background: #364953;
    position: relative;
    z-index: 1000;
}
.bottom-head .container {
    position: relative;
    height: 50px;
}
.top-menu > li {
    float: left;
    position: relative;
}
.top-menu > li:before {
    content: '';
    position: absolute;
    height: 16px;
    width: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #00bcff;
    left: 50%;
    bottom: -8px;
    margin: 0 0 0 -10px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.top-menu > li.open:before {
    opacity: 1;
    visibility: visible;
}
.top-menu > li > a, .top-menu > li > span {
    display: inline-block;
    padding: 15px 25px 10px 25px;
    color: #fff;
    font-weight: 300;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}
.top-menu > li:nth-of-type(2) > a, .top-menu > li:nth-of-type(2) > span {
    padding-left: 0;
}
.top-menu > li:hover > a, .top-menu > li:hover > span, .top-menu > li.open > span {
    border-color: #00bcff;
    color: #00bcff;
    text-decoration: none;
}
.top-submenu-block {
    position: absolute;
    left: 0;
    top: 100%;
    background: #00bcff;
    padding: 20px 20px 10px 15px;
    display: none;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.15);
    margin: 8px 0 0 0;
    border-radius: 4px;
}
.top-submenu a {
    display: inline-block;
    color: #fff;
    margin: 0 0 10px 0;
    position: relative;
    padding: 0 0 0 25px;
    white-space: nowrap;
    font-weight: 300;
    text-decoration: none;
    border: none;
}
.top-submenu a:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    left: 0;
    top: 5px;
    transition: 0.3s;
    box-shadow: 0 0 0 0 #fff, inset 0 0 0 0 #fff;
}
.top-submenu a:hover:before {
    background: #fff;
    box-shadow: 0 0 0 2px #fff, inset 0 0 0 6px #fff;
}
.bottom-head-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.top-menu > li.fixed-logo a {
    width: 0;
    display: inline-block;
    padding: 8px 0;
    border: none;
    overflow: hidden;
}
.top-menu > li.fixed-logo a img {
    max-width: none;
    width: 140px;
}
.bottom-head-fixed .top-menu > li.fixed-logo a {
    width: 30px;
    margin-right: 25px;
}
.bottom-head-fixed .top-menu > li:nth-of-type(2) > a, .bottom-head-fixed .top-menu > li:nth-of-type(2) > span {
    padding-left: 25px;
}
.top-info-block {
    height: 70px;
    pointer-events: none;
    position: relative;
    margin: -2px -2px 0 -2px;
}
.top-info-block:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(91, 150, 182, 0.2);
}
.mob-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1003;
    background: rgba(28, 35, 39, 0.9);
    display: none;
}
.main-page-block, .news-block {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    position: relative;
}
.main-news-one .img, .news-one-main .img, .news-one .img, .other-news a .img {
    float: left;
    width: 185px;
    height: 185px;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.3s;
}
.main-news-one .img:hover, .ico-item:hover .img, .news-one-main .img:hover, .news-one .img:hover, .other-news a:hover .img {
    opacity: 0.8;
}
.main-news-one .img img, .main-news .img, .ico-item .img, .news-one-main .img img, .news-one .img img, .other-news a .img img {
    width: 100%;
    height: 100%;
}
.main-news-one .text {
    padding: 0 0 0 205px;
}
.main-news-one time, .main-news-one ul li, .main-news time, .news-one-main time, .news-one time, .news-one-main ul li, .news-one ul li, .other-news a time, .other-news a .text div, .news-full time, .news-full > ul li {
    color: #9aa8af;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}
.main-news-one time i, .main-news-one ul li i, .main-news time i, .news-one-main time i, .news-one-main ul li i, .news-one time i, .news-one ul li i, .other-news a time i, .other-news a .text div i, .news-full time i, .news-full > ul li i {
    color: #9eabb2;
    margin: 0 5px 0 0;
    font-size: 16px;
}
.main-news-one ul li, .news-one-main ul li, .news-one ul li, .news-full > ul li {
    float: left;
    margin: 0 0 0 10px;
}
.main-news-one h3 {
    font-size: 30px;
    margin: 13px 0;
    font-weight: 700;
}
.main-news-one p {
    font-weight: 300;
    margin: 0 0 18px 0;
}
.btn-default, .btn-default:active, .btn-default:focus {
    background: #00bcff;
    background: -webkit-linear-gradient(#11a4d9, #00bcff);
    background: -moz-linear-gradient(#11a4d9, #00bcff);
    background: -o-linear-gradient(#11a4d9, #00bcff);
    background: linear-gradient(#11a4d9, #00bcff);
    background-repeat: repeat;
    -webkit-background-size: 100% 200%;
    -moz-background-size: 100% 200%;
    background-size: 100% 200%;
    background-position: 0 -102%;
}
.btn-default:hover {
    background-position: 0 0;
}
.btn i {
    vertical-align: text-bottom;
    margin: 0 0 0 10px;
    font-size: 18px;
}
.btn-block {
    width: 100%;
}
.main-page-block .main-news {
    margin: 30px 0 0 0;
    border: none;
}
.main-news .img {
    float: left;
    width: 95px;
    height: 95px;
    border-radius: 4px;
    overflow: hidden;
}
.main-news .text {
    padding-left: 115px;
}
.main-news p {
    font-weight: 300;
    color: #3b515c;
    margin: 10px 0 0 0;
}
.main-page-block > a, .main-page-block > a:hover, .main-page-block > a:active, .main-page-block > a:focus {
    position: absolute;
    right: 15px;
    bottom: -40px;
    border-radius: 0 0 4px 4px;
}
.main-news:hover p, .news-one-main h3 a:hover, .news-one h3 a:hover, .other-news a:hover p {
    color: #00bcff;
}
h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 25px 0 20px 0;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus {
    height: 52px;
    border: 2px solid #eaf2f9;
    transition: 0.3s;
    background: #eaf2f9;
    border-radius: 0;
    white-space: nowrap;
    line-height: 48px;
    padding: 0 15px;
    margin: 0;
    color: #364953;
    font-size: 13px;
}
.nav-tabs>li>a:hover {
    background: #00bcff;
    border: 2px solid #eaf2f9;
    color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #364953;
    border: 2px solid transparent;
    background: transparent;
}
.nav-tabs>li {
    margin: 0;
}
.nav-tabs {
    border: none;
}
.nav-tabs>li:first-of-type a {
    border-radius: 4px 0 0 0;
}
.nav-tabs>li:last-of-type a {
    border-radius: 0 4px 0 0;
}
.main-ico .nav-tabs {
    margin: -20px -20px 0 -20px;
}
.main-ico .nav-tabs>li {
    width: 33.33333%;
    text-align: center;
}
.ico-item {
    padding: 20px 0;
    border-bottom: 1px solid #cfd1d4;
}
.tab-pane .ico-item:last-of-type {
    border: none;
}
.ico-item .img {
    width: 42px;
    height: 42px;
    overflow: hidden;
    border-radius: 2px;
    float: left;
    transition: 0.3s;
}
.ico-item .text {
    color: #3b515c;
    padding: 0 0 0 60px;
    font-weight: 700;
}
.ico-item .text h5 {
    transition: 0.3s;
    margin: -2px 0 8px 0;
    font-size: 16px;
}
.ico-item .text p {
    font-size: 14px;
    float: left;
    margin: 0 0 -3px 0;
}
.ico-item .text p + p {
    float: right;
}
.ico-item .text p time {
    font-weight: 300;
}
.ico-item:hover {
    border-bottom: 1px solid #cfd1d4;
}
.ico-item:hover .text h5 {
    color: #00bcff;
}
.main-ico {
    padding-bottom: 7px;
}
.main-news-list {
    margin: 0 0 30px 0;
}
.main-news-list h5 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    padding: 140px 30px 20px 30px;
    margin: -20px -20px 0 -20px;
    border-radius: 4px 4px 0 0;
    background: #3b515c;
}
.main-news-list-mining h5 {
    background: #3a505f url("../img/main-news-list-1.jpg") no-repeat center;
    background-size: cover;
}
.main-news-list-ico h5 {
    background: #3a505f url("../img/main-news-list-2.jpg") no-repeat center;
    background-size: cover;
}
.main-news-list-altcoin h5 {
    background: #3a505f url("../img/main-news-list-3.jpg") no-repeat center;
    background-size: cover;
}
.main-news-list-bitcoin h5 {
    background: #3a505f url("../img/main-news-list-4.jpg") no-repeat center;
    background-size: cover;
}
.main-news-list-blockchain h5 {
    background: #3a505f url("../img/main-news-list-5.jpg") no-repeat center;
    background-size: cover;
}
.main-news-list-crypto h5 {
    background: #3a505f url("../img/main-news-list-6.jpg") no-repeat center;
    background-size: cover;
}
.main-news-list ul {
    margin: 30px 0 0 0;
}
.main-news-list ul li {
    margin: 0 0 20px 0;
}
.main-news-list ul li a {
    font-weight: 300;
}
.footer {
    padding: 50px 0 35px 0;
    background: #3b515c;
    margin: 50px 0 0 0;
}
.foot-logo {
    float: left;
    width: 220px;
    border: none !important;
}
.footer form {
    float: right;
}
.footer form p {
    float: left;
    font-size: 22px;
    color: #fff;
    max-width: 360px;
    margin: 0 40px 0 0;
}
.footer form input {
    float: left;
    width: 220px;
    border-color: #00bcff;
    margin: 5px 15px 0 0;
    color: #fff;
}
.input-sm {
    height: 32px;
}
.input-lg {
    height: 46px;
}
.btn-lg, a.btn-lg {
    height: 46px;
    line-height: 44px;
    font-size: 16px;
}
.footer form button {
    border-color: #00bcff;
    margin: 5px 0 0 0;
}
.footer hr {
    margin: 40px 0;
    border-top: 1px solid rgba(224,236,242,0.1);
}
.foot-menu li {
    margin: 0 0 10px 0;
}
.foot-menu li a {
    color: #fff;
    font-weight: 300;
    border: none;
}
.foot-menu li a:hover, .foot-feedback:hover {
    color: #00bcff;
}
footer .foot-feedback {
    color: #fff;
    font-weight: 300;
    border: none;
}
.foot-feedback i {
    font-size: 24px;
    color: #00bcff;
    margin: -3px 12px 0 0;
}
.bottom-foot {
    margin: 50px 0 0 0;
}
.foot-soc {
    float: right;
}
.foot-soc li {
    float: left;
    margin: 0 0 0 15px;
}
.foot-soc a {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    border: none;
}
.foot-soc a img {
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    transition: 0.3s;
}
.foot-soc a img + img, .foot-soc a:hover img {
    opacity: 0;
}
.foot-soc a:hover img + img {
    opacity: 1;
}
.bottom-foot p {
    font-size: 14px;
    color: #6696ae;
    font-weight: 300;
    float: left;
    margin: 6px 0 0 0;
}
.select-box {
    display: inline-block;
    position: relative;
    color: #415a67;
}
.select-box select {
    padding: 0 35px 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c8d5dc;
    border-radius: 4px;
    height: 40px;
    width: 100%;
}
select::-ms-expand {
    display: none;
}
.select-box i {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 25px;
    line-height: 40px;
    pointer-events: none;
    font-size: 20px;
}
.main-page-table .select-box {
    margin: 22px 0 0 0;
}
.main-page-table h2 {
    float: left;
    margin: 25px 25px 25px 0;
}
.main-page-block.main-page-table-wrap {
    margin: 0 0 70px 0;
    padding-top: 10px;
}
.main-page-table table {
    width: 100%;
    color: #415a67;
}
.main-page-table table th {
    font-weight: 500;
    text-align: left;
}
.main-page-table table th, .main-page-table table td {
    padding: 12px 15px 12px 0;
    vertical-align: middle;
}
.main-page-table table td {
    cursor: pointer;
}
.main-page-table table th:last-of-type, .main-page-table table tr td:last-of-type {
    padding-right: 0;
    width: 150px;
}
.main-page-table table tr {
    border-bottom: 1px solid #e0ecf2;
}
.main-page-table table tr.main-page-table-info-row, .main-page-table table tr.active {
    border: none;
}
.main-page-table table tbody tr:nth-last-child(2) {
    border: none;
}
.table-link img {
    width: 24px;
    margin: -5px 15px 0 0;
}
.table-link {
    font-weight: 700;
}
.main-page-table table tbody tr td:nth-of-type(4), .main-page-table table tbody tr td:nth-of-type(5), .main-page-table table tbody tr td:nth-of-type(6) {
    color: #00bcff;
}
.text-low {
    color: #ff4a68;
}
.text-high {
    color: #1fd897;
}
.main-table-info {
    position: relative;
    margin: -12px -20px;
}
.main-table-info .left {
    width: 40%;
    padding: 0 20px;
}
.main-table-info .right {
    width: 60%;
}
.main-table-info:before, .main-table-info:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 12px;
    z-index: 5;
}
.main-table-info:before {
    top: 0;
    background: rgba(202,212,217,1);
    background: -moz-linear-gradient(top, rgba(202,212,217,1) 0%, rgba(202,212,217,0) 60%, rgba(202,212,217,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(202,212,217,1)), color-stop(60%, rgba(202,212,217,0)), color-stop(100%, rgba(202,212,217,0)));
    background: -webkit-linear-gradient(top, rgba(202,212,217,1) 0%, rgba(202,212,217,0) 60%, rgba(202,212,217,0) 100%);
    background: -o-linear-gradient(top, rgba(202,212,217,1) 0%, rgba(202,212,217,0) 60%, rgba(202,212,217,0) 100%);
    background: -ms-linear-gradient(top, rgba(202,212,217,1) 0%, rgba(202,212,217,0) 60%, rgba(202,212,217,0) 100%);
    background: linear-gradient(to bottom, rgba(202,212,217,1) 0%, rgba(202,212,217,0) 60%, rgba(202,212,217,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cad4d9', endColorstr='#cad4d9', GradientType=0 );
}
.main-table-info:after {
    bottom: 0;
    background: rgba(202,212,217,0);
    background: -moz-linear-gradient(top, rgba(202,212,217,0) 0%, rgba(202,212,217,0) 40%, rgba(202,212,217,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(202,212,217,0)), color-stop(40%, rgba(202,212,217,0)), color-stop(100%, rgba(202,212,217,1)));
    background: -webkit-linear-gradient(top, rgba(202,212,217,0) 0%, rgba(202,212,217,0) 40%, rgba(202,212,217,1) 100%);
    background: -o-linear-gradient(top, rgba(202,212,217,0) 0%, rgba(202,212,217,0) 40%, rgba(202,212,217,1) 100%);
    background: -ms-linear-gradient(top, rgba(202,212,217,0) 0%, rgba(202,212,217,0) 40%, rgba(202,212,217,1) 100%);
    background: linear-gradient(to bottom, rgba(202,212,217,0) 0%, rgba(202,212,217,0) 40%, rgba(202,212,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cad4d9', endColorstr='#cad4d9', GradientType=0 );
}
.main-burse {
    padding: 15px 0 20px 0;
    border-top: 1px solid #c8d9e1;
}
.main-burse h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 15px 0;
}
.main-burse li {
    margin: 0 0 12px 0;
}
.main-burse li a {
    font-size: 14px;
    display: inline-block;
    border: none;
}
.main-burse li a:hover {
    text-decoration: underline;
}
.main-burse li img {
    width: 20px;
    margin: -2px 15px 0 0;
}
.main-info-main {
    padding: 40px 0 40px 150px;
    position: relative;
}
.main-info-main img {
    width: 120px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.main-info-main h5 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-info-main p {
    font-size: 35px;
    font-weight: 500;
    color: #1fd897;
    margin: -5px 0 0 0;
}
.main-info-main span {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin: -5px 0 0 0;
}
.main-info-main span i {
    margin: 0 10px 0 0;
    font-size: 24px;
    vertical-align: baseline;
}
.main-page-table-info-row td {
    cursor: default !important;
}
.main-page-table-info-row {
    display: none;
}
.main-page-table table .table-link a {
    white-space: nowrap;
    border: none;
}
.main-page-table table .table-link a:hover {
    text-decoration: underline;
}
/*-----------------main page full graph styles start-----------------*/
.main-table-info .right > div {
    overflow: hidden;
    position: relative;
}
.main-table-info .right > div:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #fff;
}
.main-table-info .right iframe {
    width: 100%;
    margin: -40px 0 0 1px;
}
/*------------------main page full graph styles end------------------*/
.news-one-main .img {
    width: 230px;
    height: 230px;
}
.news-one-main .text {
    padding: 0 0 0 260px;
}
.news-one-main h3, .news-one h3 {
    font-size: 25px;
    margin: 0 0 10px 0;
    font-weight: 700;
}
.news-one-main h3 a, .news-one h3 a {
    color: #3b515c;
    text-decoration: none;
}
.news-one-main p, .news-one p {
    font-weight: 300;
}
.news-one-main time, .news-one-main ul {
    float: left;
    margin: 15px 0 0 0;
}
.news-one p {
    margin: 0 0 10px 0;
}
.news-one {
    margin: 40px 0 0 0;
}
.news-one .img {
    width: 130px;
    height: 130px;
}
.news-one .text {
    padding: 0 0 0 150px;
}
.pagination {
    width: 100%;
    text-align: center;
    margin: 30px 0 0 0;
}
.pagination>li {
    display: inline-block;
}
.pagination>li>a, .pagination>li>span {
    height: 40px;
    min-width: 40px;
    line-height: 38px;
    border: 1px solid #c8d5dc;
    border-radius: 4px;
    padding: 0 8px;
    background: transparent;
    color: #3b515c;
    margin: 0 1px 6px 1px;
}
.pagination>li>a:hover, .pagination>li>span:hover {
    background: #00bcff;
    border-color: #00bcff;
    color: #fff;
}
.pagination>li>a:focus, .pagination>li>span:focus {
    background: transparent;
    border-color: #c8d5dc;
    color: #3b515c;
}
.pagination>li.disabled>a, .pagination>li.disabled>span, .pagination>li.disabled>a:hover, .pagination>li.disabled>span:hover,.pagination>li.disabled>a:active, .pagination>li.disabled>span:active,.pagination>li.disabled>a:focus, .pagination>li.disabled>span:focus {
    opacity:0.4;
    background: transparent;
    border: 1px solid #c8d5dc;
    color: #3b515c;
}
.pagination>li.active>a, .pagination>li.active>span, .pagination>li.active>a:hover, .pagination>li.active>span:hover,.pagination>li.active>a:active, .pagination>li.active>span:active,.pagination>li.active>a:focus, .pagination>li.active>span:focus {
    background: #c5d4dc;
    border-color: #c5d4dc;
    color: #7c94a0;
}
.pagination>li i {
    line-height: 36px;
    font-size: 20px;
}
.other-news {
    padding-top: 0;
    padding-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.other-news a {
    margin: 30px 0 0 0;
    border: none;
}
.other-news a p {
    margin: 15px 0 0 0;
    font-weight: 300;
    font-size: 14px;
    color: #415a67;
    transition: 0.3s;
}
.other-news a .img {
    width: 90px;
    height: 90px;
}
.other-news a .text {
    padding: 0 0 0 110px;
}
.other-news a .text div {
    float: right;
}
.articles {
    margin-bottom: -30px;
}
.breadcrumb {
    margin: 25px 0 -8px 0;
    font-size: 14px;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #00a9e5;
    content: "\f105";
    margin: 0 15px;
}
.breadcrumb li.active:after {
    display: none;
}
.news-full > ul, .news-full > time {
    margin: 35px 0 25px 0;
    display: inline-block;
}
.news-block {
    padding: 0 30px;
}
.news-block .img {
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    margin: 0 -30px;
}
.news-block .img img {
    width: 100%;
}
.news-block > h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 30px 0;
}
.news-inner h1, .news-inner h2, .news-inner h3, .news-inner h4, .news-inner h5, .news-inner h6 {
    font-size: 25px;
    margin: 0;
}
.news-inner p {
    margin: 0;
}
.news-inner b, .news-inner strong {
    font-weight: 700;
}
.news-inner i {
    font-style: italic;
}
.sharethis-inline-share-buttons {
    margin: 30px 0;
}
.ico-table {
    width: 100%;
    text-align: center;
}
.ico-table td, .ico-table th {
    padding: 0 0 0 15px;
}
.ico-table tr td:last-of-type, .ico-table th:last-of-type {
    padding-right: 15px;
}
.ico-table th {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #3b515c;
    color: #fff;
    vertical-align: middle;
}
.ico-table th:first-of-type {
    border-radius: 0 0 0 4px;
}
.ico-table th:last-of-type {
    border-radius: 0 4px 4px 0;
}
.ico-table .space td {
    height: 15px;
}
.ico-table .item td {
    background: #fff;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
}
.ico-table .item td:first-of-type {
    border-radius: 4px 0 0 0;
}
.ico-table .item td:last-of-type {
    border-radius: 0 4px 0 0;
}
.ico-table .item td:nth-of-type(2) {
    white-space: nowrap;
}
.ico-table .item td:nth-of-type(2) img {
    width: 50px;
    margin: 0 8px 0 0;
}
.ico-table .item td:last-of-type {
    font-size: 19px;
}
.ico-table .item td:last-of-type span {
    display: block;
    color: #00bcff;
    font-size: 16px;
    text-align: left;
}
.ico-table .item td:last-of-type strong {
    display: inline-block;
}
.ico-table .item {
    cursor: pointer;
}
.ico-table .item:hover td {
    background: #e0ecf2;
}
.ico-table .ico-progress td {
    padding: 0 !important;
}
.ico-table .ico-progress td > div {
    height: 9px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    background: #364953;
}
.ico-table .ico-progress td > div div {
    background: #00bcff;
    height: 9px;
    transition: 0.3s;
}
.ico-count {
    white-space: nowrap;
}
.countdown-section {
    display: inline-block;
    padding: 0 5px;
    text-align: center;
}
.countdown-amount {
    font-size: 19px;
    font-weight: 700;
    color: #3b515c;
}
.countdown-period {
    display: block;
    color: #9da6ab;
    font-size: 12px;
    font-weight: 400;
}
.ico-container > p {
    margin: 0 0 30px 0;
}
.ico-container .nav-tabs>li>a, .ico-container .nav-tabs>li>a:focus, .buy-sell .nav-tabs>li>a, .buy-sell .nav-tabs>li>a:focus, .mine-wrap .nav-tabs>li>a, .mine-wrap .nav-tabs>li>a:focus {
    height: 48px;
    border: none;
    background: #00bcff;
    color: #fff;
    font-size: 16px;
}
.ico-container .nav-tabs>li>a i, .buy-sell .nav-tabs>li>a i, .mine-wrap .nav-tabs>li>a i {
    vertical-align: middle;
    font-size: 18px;
    margin: 0 0 0 5px;
}
.ico-container .nav-tabs>li>a:hover, .buy-sell .nav-tabs>li>a:hover, .mine-wrap .nav-tabs>li>a:hover {
    background: #179dcd;
}
.ico-container .nav-tabs>li.active>a, .ico-container .nav-tabs>li.active>a:hover, .ico-container .nav-tabs>li.active>a:focus, .buy-sell .nav-tabs>li.active>a, .buy-sell .nav-tabs>li.active>a:hover, .buy-sell .nav-tabs>li.active>a:focus, .mine-wrap .nav-tabs>li.active>a, .mine-wrap .nav-tabs>li.active>a:hover, .mine-wrap .nav-tabs>li.active>a:focus {
    background: #3b515c;
    border: none;
    color: #fff;
}
.ico-info-main {
    display: inline-block;
}
.ico-info-main .img {
    float: left;
    width: 100px;
}
.ico-info-main .img img {
    width: 100%;
}
.ico-info-main .text {
    padding: 0 0 0 120px;
    font-weight: 700;
    line-height: 1.1;
}
.ico-info-main .text * {
    display: block;
}
.ico-info-main .text strong, .ico-info-main .text p {
    font-size: 32px;
}
.ico-full > p {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    font-weight: 300;
}
.ico-rate {
    display: inline-block;
    width: 100%;
}
.ico-rate > div {
    float: left;
    width: 20%;
    padding: 0 10px 0 15px;
    border-left: 1px solid #e0ecf2;
}
.ico-rate > div:first-of-type {
    padding-left: 0;
    border: none;
}
.ico-rate > div p, .ico-progress > p {
    color: #00bcff;
    font-weight: 700;
}
.ico-rate > div p i, .ico-progress > p i{
    vertical-align: middle;
    margin: 0 0 0 5px;
}
.ico-rate > div strong {
    color: #00bcff;
    font-size: 38px;
    display: block;
    line-height: 1;
}
.ico-progress {
    margin: 20px 0 40px 0;
}
.ico-table .ico-progress {
    margin: 0;
}
.ico-progress > div {
    position: relative;
    height: 10px;
    background: #364953;
    border-radius: 5px;
    margin: 50px 0 0 0;
}
.ico-progress > div div {
    height: 10px;
    border-radius: 5px;
    background: #00bcff;
}
.ico-progress > div span {
    position: absolute;
    top: -25px;
    font-size: 18px;
    left: 0;
    display: inline-block;
    text-align: center;
    font-weight: 700;
}
.ico-progress > div span:last-of-type {
    right: 0;
    left: auto;
}
.ico-progress > div span:nth-of-type(2) {
    width: 100px;
    left:50%;
    margin: 0 0 0 -50px;
    font-size: 32px;
    color: #00bcff;
    top: -40px;
}
.ico-video{
    height: 370px;
    overflow: hidden;
    position: relative;
}
.ico-video iframe {
    width: 100%;
    height: 100%;
}
/*.ico-video-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #e0ecf2;
    cursor: pointer;
    z-index: 2;
}
.ico-video-overlay:before {
    content: '';
    position: absolute;
    left:50%;
    top:50%;
    width: 140px;
    height: 140px;
    margin: -70px 0 0 -70px;
    background: #fff;
    border-radius: 50%;
}
.ico-video-overlay:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 80px;
    left:50%;
    top:50%;
    border: 40px solid transparent;
    border-right: 0 none;
    border-left: 40px solid #e0ecf2;
    margin: -40px 0 0 -12px;
}*/
.ico-info-block {
    position: relative;
    margin: 40px 0 0 0;
    font-weight: 300;
    color: #79858b;
    padding: 2px 0 0 20px;
}
.ico-info-block:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 55px;
    top: 0;
    left: 0;
    background: #e0ecf2;
}
.ico-info-block > p:first-of-type {
    font-weight: 400;
    color: #415a67;
    font-size: 20px;
    margin: 0 0 5px 0;
}
.ico-full .ico-count {
    margin: 0 -5px;
}
.ico-info-block > p > strong {
    color: #364953;
}
.ico-full .ico-btn-buy {
    display: inline-block;
    margin: 40px 0 0 0;
    border-radius: 4px;
    border: 3px solid #00bcff;
    color: #00bcff;
    height: 52px;
    line-height: 46px;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
}
.ico-full .ico-btn-buy:hover {
    background: #00bcff;
    color: #fff;
}
.ico-full hr {
    margin: 40px 0 0 0;
    border-top: 1px solid #e0ecf2;
}
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    visibility: hidden;
    opacity: 0;
    width: 150px;
    background-color: #364953;
    color: #fff;
    text-align: center;
    padding: 7px 10px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    transition: 0.3s;
    font-size: 12px;
    left: 50%;
    bottom: 100%;
    margin: 0 0 8px -75px;
    box-shadow: 0 3px 10px 0 rgba(54, 73, 83, 0.25);
    line-height: 1.2;
}
.tooltip .tooltiptext:before {
    position: absolute;
    content: '';
    z-index: 2;
    left: 50%;
    bottom: -5px;
    width: 10px;
    height: 5px;
    border: 5px solid transparent;
    border-bottom: 0 none;
    border-top: 5px solid #364953;
    margin: 0 0 0 -5px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.buy-table {
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.buy-table th, .buy-table td {
    padding: 18px 15px 18px 0;
}
.buy-table th:first-of-type, .buy-table tr td:first-of-type {
    padding-left: 15px;
}
.buy-table th {
    background: #3b515c;
    color: #fff;
    text-transform: uppercase;
}
.buy-table th:last-of-type {
    border-radius: 0 4px 0 0;
}
.buy-table td {
    background: #fff;
}
.buy-table tr:last-of-type td:first-of-type {
    border-radius: 0 0 0 4px;
}
.buy-table tr:last-of-type td:last-of-type {
    border-radius: 0 0 4px 0;
}
.buy-table tbody tr {
    border-bottom: 1px solid #e0ecf2;
}
.buy-table tbody tr:last-of-type {
    border: none;
}
.buy-table tbody tr:last-of-type td {
    padding-bottom: 45px;
}
.buy-table tbody tr:first-of-type td {
    padding-top: 45px;
}
.buy-sell .pagination, .buy-sell .main-page-block {
    margin-bottom: 20px;
}
.buy-filter-fix {
    height: 48px;
}
.main-page-block.black {
    background: #3b515c;
    color: #fff;
}
.input-sm select {
    height: 32px;
}
.select-box.input-sm i {
    line-height: 32px;
}
.buy-filter {
    font-size: 14px;
}
.buy-filter p {
    margin: 0 0 10px 0;
}
.buy-filter select {
    color: #fff;
}
.buy-filter select option {
    color: #3b515c;
}
.buy-filter i {
    color: #fff;
}
.buy-filter .btn {
    margin: 20px 0 0 0;
    border: none;
}
.buy-popular button {
    border: none;
    border-bottom: 1px solid #e0ecf2;
    border-radius: 0;
    height: auto;
    width: 100%;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #3b515c;
    text-align: left;
    padding: 15px 65px 15px 0;
    line-height: 1.3;
    white-space: normal;
}
.buy-popular button .fa-arrow-right {
    line-height: inherit;
    margin: 0 8px;
    color: #00bcff;
    font-size: 12px;
}
.buy-popular button span {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.buy-popular button span i {
    line-height: 16px;
    font-size: 18px;
}
.buy-popular li:last-of-type button {
    border: none;
}
.buy-popular button:hover {
    color: #00bcff;
}
.btn-filter-show {
    float: right;
    border: none;
    background: #00bcff;
    font-size: 18px;
    width: 34px;
    height: 34px;
    padding: 0;
    position: relative;
    left: 0;
    z-index: 5;
    margin-left: 10px;
}
.btn-filter-show i {
    line-height: 34px;
}
.mining {
    display: table;
    width: 100%;
}
.mining > div {
    display: table-cell;
    width: 40%;
    background: #3b515c;
    border-radius: 0 0 0 4px;
    padding: 0 30px 30px 30px;
}
.mining > div + div {
    width: 60%;
    background: #fff;
    border-radius: 0 4px 4px 0;
}
.mine-top {
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 25px 0;
    border-bottom: 1px solid #567281;
    position: relative;
}
.mine-top .img {
    width: 64px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mine-top .img img {
    width: 100%;
}
.mine-top .text {
    padding: 0 0 0 80px;
}
.mine-top .text h5 {
    font-size: 15px;
    font-weight: 700;
}
.mine-top .text p {
    font-weight: 300;
    font-size: 14px;
}
.mine-left {
    color: #fff;
    font-weight: 300;
}
.mine-left p {
    margin: 20px 0 8px 0;
}
.mine-left input {
    font-weight: 500;
    border-color: #567281;
    font-size: 18px;
}
.mine-left .input-group {
    position: relative;
    padding: 0 85px 0 0;
}
.mine-left .input-group input {
    border-radius: 4px 0 0 4px;
}
.mine-left .input-group .select-box {
    position: absolute;
    width: 85px;
    top: 0;
    right: 0;
}
.mine-left .input-group .select-box select {
    color: #fff;
    border-color: #567281;
    border-left: none;
    border-radius: 0 4px 4px 0;
}
.mine-left .input-group .select-box option {
    color: #3b515c;
}
.mine-left .input-group .select-box i {
    color: #fff;
}
.mine-main-info {
    display: inline-block;
    width: 100%;
    padding: 25px 0 0 0;
    font-weight: 700;
}
.mine-main-info > div {
    float: left;
    width: 50%;
    padding: 0 10px 0 0;
}
.mine-main-info > div + div {
    padding: 0 0 0 10px;
}
.mine-main-info p {
    font-size: 22px;
}
.mine-main-info i {
    font-size: 24px;
}
.mine-info {
    display: inline-block;
    width: 100%;
    margin: 25px 0 0 0;
}
.mine-info h5 {
    overflow: hidden;
    font-size: 14px;
    color: #00bcff;
    font-weight: 700;
}
.mine-info h5 span {
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
}
.mine-info h5 span:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 1000px;
    background: #e0ecf2;
    right: -1025px;
    top: 50%;
}
.mine-info p {
    font-size: 14px;
}
.mine-info .col-xs-4 {
    padding: 0 8px;
}
.mine-info .row {
    margin: 0 -8px;
}
.mine-info .row span {
    font-size: 18px;
    font-weight: 700;
}
.coin-course li {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    border-bottom: 1px solid #e0ecf2;
    padding: 15px 0;
}
.coin-course li:last-of-type {
    border: none;
}
.coin-course li > div {
    float: left;
}
.coin-course li > div + div {
    text-align: right;
    padding: 4px 0 0 15px;
    float: right;
}
.coin-course p {
    text-transform: uppercase;
    font-size: 12px;
}
.coin-course h5 {
    font-size: 22px;
}
.coin-course li > div + div h5 {
    font-size: 20px;
}
.coin-course i {
    margin: 0 5px 0 0;
    font-size: 24px;
}
.mine-wrap .disclaimer {
    margin: 30px 0 0 0;
    font-weight: 300;
    padding: 30px 50px;
    line-height: 1.5;
}
.mine-wrap .main-news-list {
    margin: 30px 0 0 0;
}




















.top-menu-btn, .top-search-btn, .ico-table .item td:before, .buy-table tr td:before {
    display: none;
}
/*1739*/